<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Team Todo List</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form>
                        <ul class="list-group">
                            <% for( var i = 0; i < results.length; i++){ %>
                            <li class="list-group-item font-weight-bold"><%= results[i].username %> -
                                <%= results[i].todo %>
                                <button formaction="/Delete/<%= results[i].id %>" method="POST" name="todo>"
                                    class="btn btn-secondary float-right">Remove</button><button
                                    class="btn btn-primary float-right" formaction="/toggle/<%= results[i].id %>"
                                    method="GET">Done</button>
                            </li>
                            <% } %>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col d-flex justify-content-center pt-2">
                    <form action="/send" method="POST">
                        <div class="form-group">
                            <input type="text" placeholder="User" name="username" class="form-control-sm">
                            <input type="text" placeholder="New Todo" name="newtodo" class="form-control-sm">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>